extends ../private-main-layout
block head
  script(type="text/javascript", src="/js/custom.home.js")
  
block content
  input(type="hidden", id="type_selected", value=type || '')
  div.container
    
    .filter-type
      ul
        span.title Filtrar por tipo: 
        
        - if (type)
          li
            a(href="/home/") Todos
        - else
          li.selected Todos
        
        - if (type == "ac")
          li.selected Ações
        - else
          li
            a(href="/home/?type=ac") Ações
        
        - if (type == "cp")
          li.selected Poupança
        - else
          li 
            a(href="/home/?type=cp") Poupança
        
        - if (type == "cd")
          li.selected CDB e RDB
        - else
          li 
            a(href="/home/?type=cd") CDB e RDB
        
        - if (type == "db")
          li.selected Debêntures
        - else
          li 
            a(href="/home/?type=db") Debêntures
            
        - if (type == "dr")
          li.selected Derivativos
        - else
          li 
            a(href="/home/?type=dr") Derivativos
            
        - if (type == "fa")
          li.selected FI-Ações
        - else
          li 
            a(href="/home/?type=fa") FI-Ações
            
        - if (type == "fi")
          li.selected FI-Imóveis
        - else
          li 
            a(href="/home/?type=fi") FI-Imóveis
            
        - if (type == "fr")
          li.selected Fundo RF
        - else
          li 
            a(href="/home/?type=fr") Fundo RF
            
        - if (type == "im")
          li.selected Imóveis
        - else
          li 
            a(href="/home/?type=im") Imóveis
            
        - if (type == "me")
          li.selected Moeda
        - else
          li 
            a(href="/home/?type=me") Moeda
            
        - if (type == "ou")
          li.selected Ouro
        - else
          li 
            a(href="/home/?type=ou") Ouro
            
        - if (type == "tp")
          li.selected Títulos
        - else
          li 
            a(href="/home/?type=tp") Títulos    
        
    .filter-table
      span
        label 
      span.right
        div.graph
          span#dados.selected
            .dados(title="Dados", rel="tooltip")
          span#grafico
            .grafico(title="Gráficos", rel="tooltip")
          span#ajuda
            .help(title="Ajuda", rel="tooltip")
          span#update
            .update(title="Atualizar Carteira", rel="tooltip")

    .detail-table 
      table#dataTable.table(width="100%")
        thead
          tr
            th(width="73px") Ano
            th(width="68px") Mês
            th(width="110px") Carteira
            th(width="110px") Aporte
            th(width="121px") Cotas
            th(width="147px") Valor Cotas
            th(width="95px") % Mês
            th(width="95px") % Ano
            th(width="121px") Histórico
        tbody
        - each wallet in cursor
          - each mes, i in wallet.value
            tr
              td= wallet._id
              td= i
              td= mes.wallet
              td= mes.inflow
              td= mes.shares
              td= mes.shares_price
              - if (mes.perc_month < "0,00")
                td.negative= mes.perc_month
              - if (mes.perc_month > "0,00")
                td.positive= mes.perc_month
              - if ((mes.perc_month == "0,00") || (mes.perc_month == "0"))
                td= mes.perc_month
              
              - if (mes.perc_year < "0,00")
                td.negative= mes.perc_year
              - if (mes.perc_year > "0,00")
                td.positive= mes.perc_year
              - if ((mes.perc_year == "0,00") || (mes.perc_year == "0"))
                td= mes.perc_year
              
              - if (mes.perc_all < "0,00")
                td.negative= mes.perc_all
              - if (mes.perc_all > "0,00")
                td.positive= mes.perc_all
              - if ((mes.perc_all == "0,00") || (mes.perc_all == "0"))
                td= mes.perc_all
      
      
      
      #addWallet
        .title Atualizar Carteira
          span.close(title="Fechar atualização da carteira", rel="tooltip")
            img(src="../img/close_tiny.png")
        form#private-form(method="POST") 
          p 
            label.lblform(for="year") Ano:
            input#input-text(name="year", id="year", style="width: 47%")
          p.select
            select(name="month", id="month", data-native-menu="false")
              option Escolha um mês...
              option(value="1") Janeiro
              option(value="2") Fevereiro
              option(value="3") Março
              option(value="4") Abril
              option(value="5") Maio
              option(value="6") Junho
              option(value="7") Julho
              option(value="8") Agosto
              option(value="9") Setembro
              option(value="10") Outubro
              option(value="11") Novembro
              option(value="12") Dezembro
          p.select
            select(name="type", id="type", data-native-menu="false")
              option Escolha um tipo ...
              option(value="ac") Ações
              option(value="cp") Cardeneta de Poupança
              option(value="cd") CDB e RDB
              option(value="db") Debêntures
              option(value="dr") Derivativos
              option(value="fa") FI - Ações
              option(value="fi") FI - Imobiliários
              option(value="fr") Fundo Renda Fixa
              option(value="im") Imóveis
              option(value="me") Moeda estrangeira
              option(value="ou") Ouro
              option(value="tp") Títulos Públicos Federais
          p 
            label(for="wallet") Carteira: 
            input#input-text.money(name="wallet", id="wallet")
          p 
            label(for="inflow") Aporte: 
            input#input-text.money(name="inflow", id="inflow")
          p
            input#submit(type="submit", value="Salvar", data-theme="b", data-icon="star")
          


